{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Taken Orders</h2>
  {% for order in taken_orders %}
       {% if order['order_state'].value != 'delivered' %}
            <article>
                <header>
                    <div>
                        <h1>Order id: {{ order['id'] }}</h1>
                        <p>State: {{ order['order_state'].value}}</p>
                        <p>Food items: {{ order['food_items'] }}</p>
                    </div>
                    <div>
                        {% if order['order_state'].value == 'delivering'  %}
                          <form method="post">
                                <input name="order_id_delivered" id="order_id_delivered" style="display: none" value="{{ order['id'] }}">
                                <input type="submit" value="Delivered order">
                          </form>
                        {% endif %}
                        {% if order['order_state'].value == 'ready'  %}
                          <form method="post">
                            <input name="order_id_pickup" id="order_id_pickup" style="display: none" value="{{ order['id'] }}">
                              <input name="longitude" style="display: none" id="longitude">
                              <input name="latitude" style="display: none" id="latitude">
                            <input type="submit" value="Pickup order">
                          </form>
                        {% endif %}
                    </div>
                </header>
            </article>
      {% endif %}
  {% endfor %}
  
  <h2> Available Orders</h2>
  {% for order in available_orders %}
    <article>
        <header>
            <div>
                <h1>Order id: {{ order['id'] }}</h1>
                <p>State: {{ order['order_state'].value}}</p>
                <p>Food items: {{ order['food_items'] }}</p> 
            </div>

            <div>
                 {% if order['order_state'].value == 'preparing' %}
                    <form method="post">
                        <input name="order_id_take" id="order_id_take" style="display: none" value="{{ order['id'] }}">
                        <input type="submit" value="Take order">
                      </form>
                {% endif %}
            </div>
        </header>
    </article>
  {% endfor %}
  

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

    const lat = document.getElementById("latitude");
    const long = document.getElementById("longitude");


    function updateLocation(){
        if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(sendNewLocation);
          } else {
              document.getElementById("latitude").value = "48.148598"
              document.getElementById("longitude").value = "17.107748"
          }
    }
    let add = 0.01
    function sendNewLocation(position){
            $.ajax({
                url: '/newLocation',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'latitude': position.coords.latitude+add, 'longitude': position.coords.longitude }),
                success: function(response) {
                    add += 0.1  // to simulate movement
                    console.log("TU SI")
                },
                error: function(error) {
                    console.log(error);
                }
            });
    }
    const interval = setInterval(updateLocation, 5000)
    function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              document.getElementById("latitude").value = "48.148598"
              document.getElementById("longitude").value = "17.107748"
          }
        }

        function showPosition(position) {
            document.getElementById("latitude").value = position.coords.latitude
            document.getElementById("longitude").value = position.coords.longitude
        }
	</script>
{% endblock %}