{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for order in orders %}
    <article>
        <header>
            <div>
                <h1>Order id: {{ order['id'] }}</h1>
                <p>Customer id: {{ order['customer_id']}}</p>
                <p>State: {{ order['order_state'].value}}</p>
                <p>Food items: {{ order['food_items'] }}</p> 
            </div>
            <div>
                {% if order['order_state'].value == 'finalyzed' %}
                 <form method="post">
                    <input name="order_id_take" id="order_id_take" style="display: none" value="{{ order['id'] }}">
                    <input type="submit" value="Take Order">
                  </form>
                {% endif %}
                {% if order['order_state'].value == 'preparing' and order['delivery_state'].value == "closed" %}
                  <form method="post">
                    <input name="order_id_ready" id="order_id_redy" style="display: none" value="{{ order['id'] }}">
                    <input type="submit" value="Order Ready">
                  </form>
                {% endif %}
            </div>
        </header>
    </article>
  {% endfor %}

{% endblock %}

