{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for menu in menus %}
    <article>
        <header>
            <div>
                <h1>Menu id: {{ menu['id'] }}</h1>
                {% for food_item in menu['food_items'] %}
                  <div>
                    <p>Food Item id:{{ food_item['id'] }}</p>
                    <p>Name: {{ food_item['name'] }}</p>
                    <p>Price: {{ food_item['price'] }}</p>
                  </div>
                {% endfor %}
            </div>
        </header>
    </article>
  {% endfor %}
  
  <form method="post">
    <label for="value">Food Item ID</label>
    <input name="food_item_id" id="food_item_id" style="width: 10em;" required>
    <input type="submit" value="Add to cart">
  </form>
{% endblock %}
