{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Taken Orders</h2>
  {% for order in taken_orders %}
      <button id="updateLocation" onclick="updateLocation()">Update location</button>
    <article>
        <header>
            <div>
                <h1>Order id: {{ order['id'] }}</h1>
                <p>State: {{ order['order_state']}}</p>
                <p>Food items: {{ order['food_items'] }}</p> 
            </div>
        </header>
    </article>
  {% endfor %}
  
  <h2> Available Orders</h2>
  {% for order in available_orders %}
    <article>
        <header>
            <div>
                <h1>Order id: {{ order['id'] }}</h1>
                <p>State: {{ order['order_state']}}</p>
                <p>Food items: {{ order['food_items'] }}</p> 
            </div>
        </header>
    </article>
  {% endfor %}
  
  <form method="post">
    <label for="value">Order id</label>
    <input name="order_id_take" id="order_id_take">
    <input type="submit" value="Take order">
  </form>

  <form method="post">
    <label for="value">Order id</label>
    <input name="order_id_pickup" id="order_id_pickup">
      <input name="longitude" id="longitude">
      <input name="latitude" id="latitude">
    <input type="submit" value="Pickup order">
  </form>

  <form method="post">
    <label for="value">Order id</label>
    <input name="order_id_delivered" id="order_id_delivered">
    <input type="submit" value="Delivered order">
  </form>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

    const lat = document.getElementById("latitude");
    const long = document.getElementById("longitude");
    lat.hidden=true;
    long.hidden=true;


    function updateLocation(){
        if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(sendNewLocation);
          } else {
              lat.value = "48.148598"
              long.value = "17.107748"
          }
    }
    let add = 0.01
    function sendNewLocation(position){
            $.ajax({
                url: '/newLocation',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'latitude': position.coords.latitude+add, 'longitude': position.coords.longitude }),
                success: function(response) {
                    add += 0.1  // to simulate movement
                    console.log("TU SI")
                },
                error: function(error) {
                    console.log(error);
                }
            });
    }
    const interval = setInterval(updateLocation, 5000)
    getLocation()
    function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              lat.value = "48.148598"
              long.value = "17.107748"
          }
        }

        function showPosition(position) {
            lat.value = position.coords.latitude
            long.value = position.coords.longitude
        }
	</script>
{% endblock %}