{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} User Information {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <p><strong>User name:</strong> {{ user['username'] }}</p>
        <p><strong>Email:</strong> {{ user['email'] }}</p>
        <p><strong>Phone number:</strong> {{ user['phone_number'] }}</p>
        <p><strong>Wallet:</strong> {{ user['wallet'] }}</p>

        <p><strong>Orders History:</strong></p>
        {% if orders %}
          <ul id="list">
            {% for order in orders %}
              <li>
                Order id: {{ order['id'] }}<br>
                Total price: {{ order['sum_total'] }}<br>
                Order state: {{ order['order_state'] }}
              </li>
                <li style="display: none">{{ order['order_state'] }}</li>
                <li style="display: none">{{ order['latitude'] }}</li>
                <li style="display: none">{{ order['longitude'] }}</li>
                <li style="display: none">{{ order['id'] }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No orders found.</p>
        {% endif %}
    </div>

    <div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
	<style>
		.container {
			max-width: 70%;
			max-height: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.inputBox {
		    width: 50%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    box-sizing: border-box;
		}
		.button {
		    background-color: #4CAF50;
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin: 4px 2px;
		    cursor: pointer;
		}
	</style>


	<div class="container">

		<div id='map' style='width: 95%; height:500px;'></div><br/><br/>

	</div>

<p id="demo"></p>


    </div>
    <script>


       var list = document.getElementById("list").children
       longslats = []
        for (let i=0; i<list.length; i+=5){
            if(list[i+1].innerHTML === "OrderState.Delivering"){
                longslats.push([list[i+2].innerHTML,list[i+3].innerHTML,list[i+4].innerHTML])
            }
        }
         console.log(longslats)
		var longitude, latitude;

		function display_map() {
			mapboxgl.accessToken = "{{ mapbox_access_token }}"
			var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/satellite-streets-v10',
			center: [longitude,latitude],
			zoom: 16,
			bearing: -17.6,
			pitch:45

			});
			// fulscreen button
			map.addControl(new mapboxgl.FullscreenControl());
			// display a blue marker

            new mapboxgl.Marker()
                    .setLngLat([longitude,latitude])
                    .addTo(map);

            for(let i = 0; i< longslats.length;i++){
                new mapboxgl.Marker()
                    .setLngLat([Number(longslats[i][1]),Number(longslats[i][0])])
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }) // add popups
                          .setHTML(
                            `<h3>id = ${longslats[i][2] }</h3></p>`
                          )
                      )
                    .addTo(map);
            }
	  		// Navigation marker at top-left corner
	  		var nav = new mapboxgl.NavigationControl();
	  			map.addControl(nav, 'top-left');
	  		// change false to true, to get your location. Then, enable location in the browser.
	  		map.addControl(new mapboxgl.GeolocateControl({
	    			positionOptions: {
	        			enableHighAccuracy: false
	    			},
	    		trackUserLocation: false
			}));
	  		// The 'building' layer in the mapbox-streets vector source contains building-height
			// data from OpenStreetMap.
			map.on('load', function() {
			    // Insert the layer beneath any symbol layer.
			    var layers = map.getStyle().layers;
			    var labelLayerId;
			    for (var i = 0; i < layers.length; i++) {
			        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
			            labelLayerId = layers[i].id;
			            break;
			        }
			    }
			    map.addLayer({
			        'id': '3d-buildings',
			        'source': 'composite',
			        'source-layer': 'building',
			        'filter': ['==', 'extrude', 'true'],
			        'type': 'fill-extrusion',
			        'minzoom': 15,
			        'paint': {
			            'fill-extrusion-color': '#aaa',
			            // use an 'interpolate' expression to add a smooth transition effect to the
			            // buildings as the user zooms in
			            'fill-extrusion-height': [
			                "interpolate", ["linear"], ["zoom"],
			                15, 0,
			                15.05, ["get", "height"]
			            ],
			            'fill-extrusion-base': [
			                "interpolate", ["linear"], ["zoom"],
			                15, 0,
			                15.05, ["get", "min_height"]
			            ],
			            'fill-extrusion-opacity': .6
			        }
			    }, labelLayerId);
			});
		}
    getLocation()
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }

        function showPosition(position) {
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          display_map();
        }



	</script>

{% endblock %}