{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} User Information {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <p><strong>User name:</strong> {{ user['username'] }}</p>
        <p><strong>Email:</strong> {{ user['email'] }}</p>
        <p><strong>Phone number:</strong> {{ user['phone_number'] }}</p>
        <p><strong>Wallet:</strong> {{ user['wallet'] }}</p>

        <p><strong>Orders History:</strong></p>
        {% if orders %}
          <ul>
            {% for order in orders %}
              <li>
                Order id: {{ order['id'] }}<br>
                Total price: {{ order['sum_total'] }}<br>
                Order state: {{ order['order_state'] }} <br>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No orders found.</p>
        {% endif %}
    </div>

{% endblock %}