<!doctype html>
<title>{% block title %}{% endblock %} - App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Food Delivery App</h1>
  <ul>
    {% if g.user %}
        {% if g.user.user_type.value == 'customer' %}
            <li><a href="{{ url_for('index') }}"><span>Orders</span></a>
            <li><a href="{{ url_for('info.user_info') }}"><span>Profile</span></a>
            <li><a href="{{ url_for('cart.cart') }}"><span>Cart</span></a>
            <li><a href="{{ url_for('auth.logout') }}"><span>Log Out</span></a>
        {% elif g.user.user_type.value == 'restaurant' %}
            <li><a href="{{ url_for('index') }}"><span>Orders</span></a>
            <li><a href="{{ url_for('info.user_info') }}"><span>Profile</span></a>
            <li><a href="{{ url_for('menu.create_menu') }}"><span>Add item</span></a>
            <li><a href="{{ url_for('auth.logout') }}"><span>Log Out</span></a>
        {% elif g.user.user_type.value == 'delivery' %}
            <li><a href="{{ url_for('index') }}"><span>Orders</span></a>
            <li><a href="{{ url_for('info.user_info') }}"><span>Profile</span></a>
            <li><a href="{{ url_for('auth.logout') }}"><span>Log Out</span></a>
        {% endif %}
    {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>